<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>ExamPro</display-name>
  <welcome-file-list>
    <welcome-file>004/Signin/signin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>Controller.StudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisplayExamPaper</servlet-name>
    <servlet-class>Controller.DisplayExamPaper</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResendEmailServlet</servlet-name>
    <servlet-class>Controller.ResendEmailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetExamServlet</servlet-name>
    <servlet-class>Controller.GetExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SigninServlet</servlet-name>
    <servlet-class>Controller.SigninServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninServlet</servlet-name>
    <url-pattern>/SigninServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminPanelServlet</servlet-name>
    <servlet-class>Controller.AdminPanelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPanelServlet</servlet-name>
    <url-pattern>/AdminPanelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfServlet</servlet-name>
    <servlet-class>Controller.ProfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfServlet</servlet-name>
    <url-pattern>/ProfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>Controller.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActivateAccount</servlet-name>
    <servlet-class>Controller.ActivateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivateAccount</servlet-name>
    <url-pattern>/ActivateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayMark</servlet-name>
    <servlet-class>Controller.DisplayMark</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayMark</servlet-name>
    <url-pattern>/DisplayMark</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddAccountServlet</servlet-name>
    <servlet-class>Controller.AddAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAccountServlet</servlet-name>
    <url-pattern>/AddAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisplayExamPaper</servlet-name>
    <url-pattern>/DisplayExamPaper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResendEmailServlet</servlet-name>
    <url-pattern>/ResendEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetExamServlet</servlet-name>
    <url-pattern>/GetExamServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>DisplayExam</display-name>
    <servlet-name>DisplayExam</servlet-name>
    <servlet-class>Controller.DisplayExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayExam</servlet-name>
    <url-pattern>/DisplayExam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayStats</display-name>
    <servlet-name>DisplayStats</servlet-name>
    <servlet-class>Controller.DisplayStats</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayStats</servlet-name>
    <url-pattern>/DisplayStats</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayGroupMember</display-name>
    <servlet-name>DisplayGroupMember</servlet-name>
    <servlet-class>Controller.DisplayGroupMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayGroupMember</servlet-name>
    <url-pattern>/DisplayGroupMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExamGetServlet</display-name>
    <servlet-name>ExamGetServlet</servlet-name>
    <servlet-class>Controller.ExamGetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamGetServlet</servlet-name>
    <url-pattern>/ExamGetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectSpeciality</display-name>
    <servlet-name>RedirectSpeciality</servlet-name>
    <servlet-class>Controller.RedirectSpeciality</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectSpeciality</servlet-name>
    <url-pattern>/RedirectSpeciality</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectAcoount</display-name>
    <servlet-name>RedirectAcoount</servlet-name>
    <servlet-class>Controller.RedirectAcoount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectAcoount</servlet-name>
    <url-pattern>/RedirectAcoount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectGroup</display-name>
    <servlet-name>RedirectGroup</servlet-name>
    <servlet-class>Controller.RedirectGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectGroup</servlet-name>
    <url-pattern>/RedirectGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectExam</display-name>
    <servlet-name>RedirectExam</servlet-name>
    <servlet-class>Controller.RedirectExam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectExam</servlet-name>
    <url-pattern>/RedirectExam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectQuestion</display-name>
    <servlet-name>RedirectQuestion</servlet-name>
    <servlet-class>Controller.RedirectQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectQuestion</servlet-name>
    <url-pattern>/RedirectQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedirectModule</display-name>
    <servlet-name>RedirectModule</servlet-name>
    <servlet-class>Controller.RedirectModule</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectModule</servlet-name>
    <url-pattern>/RedirectModule</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayProf</display-name>
    <servlet-name>DisplayProf</servlet-name>
    <servlet-class>Controller.DisplayProf</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayProf</servlet-name>
    <url-pattern>/DisplayProf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayPlanning</display-name>
    <servlet-name>DisplayPlanning</servlet-name>
    <servlet-class>Controller.DisplayPlanning</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayPlanning</servlet-name>
    <url-pattern>/DisplayPlanning</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayEvent</display-name>
    <servlet-name>DisplayEvent</servlet-name>
    <servlet-class>Controller.DisplayEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayEvent</servlet-name>
    <url-pattern>/DisplayEvent</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>DisplayProfRequest</display-name>
    <servlet-name>DisplayProfRequest</servlet-name>
    <servlet-class>Controller.DisplayProfRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayProfRequest</servlet-name>
    <url-pattern>/DisplayProfRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAdminRequest</display-name>
    <servlet-name>DisplayAdminRequest</servlet-name>
    <servlet-class>Controller.DisplayAdminRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAdminRequest</servlet-name>
    <url-pattern>/DisplayAdminRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>Controller.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetResult</display-name>
    <servlet-name>GetResult</servlet-name>
    <servlet-class>Controller.GetResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetResult</servlet-name>
    <url-pattern>/GetResult</url-pattern>
  </servlet-mapping>
</web-app>